<!DOCTYPE html>
<html>
<head>
    <title>Fuel Prices Chart</title>
</head>
<body>
    <h1 style="display: flex;justify-content: center;align-items: center;">Fuel Prices Chart</h1>
<img src="static/fuel_prices_chart.png" alt="Fuel Prices Chart" style="display: block; margin: auto; width:90%; height:auto;">
    <br>
    <input id="inputField" type="text" placeholder="Enter your email here" style="display: block; margin:auto;">
    <div class="button-container" style="display: flex;justify-content: center;align-items: center;">
        <button id="subscribeButton">Subscribe</button>
        <button id="unsubscribeButton">Unsubscribe</button>
    </div>

    <script src="static/script.js"></script>
</body>
</html>